@import "./utils/variables.scss";
@import "./utils/mixins.scss";

@import "./base/base.scss";
@import "./base/typography.scss";

@import "./layouts/header.scss";
@import "./layouts/footer.scss"; 

@import "./pages/home.scss";