body{
    background-color: #f6f6f6;
}
.plats{
    display: flex;
    background-color: white;
    border-radius: 15px;
    justify-content: space-between;
    margin-bottom: 4vw;
}

.textplats{
    display: flex;
    flex-direction: column;
    padding-left: 10px;
    width: 200px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.fa-check-circle{
    color: white;
    margin-top: 23px;
    margin-left: 25px;
    font-size: 1.2em;
    animation: checkmarkrotate 0.8s 1700ms;
    
}

h4{
    margin-bottom: 3px;
    margin-top: 10px;
}
.complement{
    margin-top: 5px;
    margin-bottom: 10px;
    
    
}

.prix{
    text-align: end;
    align-self: flex-end;
    margin-bottom: 0;
    padding-bottom: 10px;
    font-weight: 600;
    width: 60px;
    padding-right: 20px;
}
.checkmark{
    background-color: #99e2d0;
    border-top-right-radius: 15px;
    border-bottom-right-radius: 15px;
    transition: transform 330ms ease-in-out;
    width: 80px;
}

@keyframes checkmarkrotate{
    0%{
        transform: rotate(0deg);
    }

    100%{
        transform: rotate(360deg);
    }
}