.button {
    color: $colour-white;
    background: $gradient;
    padding: 15px;
    border-radius: 30px;
    @include boxshadow;
    position: relative;
    z-index: 1;
    &::after{
        content: "";
        z-index: -1;
        position: absolute;
        top: 0;
        right: 0;
        left: 0;
        bottom: 0;
        opacity: 0;
        transition: opacity 250ms;
        border-radius: 30px;
        box-shadow: 3px 5px 8px darken($colour-grey, 30%);
        background-color: linear-gradient(to top left, lighten($colour-primary, 50%), lighten($colour-secondary,50%));
    }
    &:hover{
        &::after{
            opacity: 1;
        }
    }
}

