.button {
    color: $colour-white;
    background: $gradient;
    padding: 15px;
    border-radius: 30px;
    @include boxshadow;
    &:hover{
        box-shadow: 3px 5px 8px darken($colour-grey, 30%);
        background:  linear-gradient(to top left, $light-primary, $light-secondary);
    }
}

.coeurs{
    position: relative;
    .fas{
        opacity: 0;
        transition: opacity 250ms ease-out;
        position: absolute;
        z-index: 1;
        top: 0;
        right: 0;
        background: -webkit-linear-gradient($colour-primary,$colour-secondary);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;


    }
    .far{
        position: absolute;
        z-index: 2;
        top: 0;
        right: 0; 
    }
    &:hover{
        .fas{
        opacity: 1;
        }
        .far{
            color: transparent;
        }
    }
}

