.loadingspinner{
    width: 100%;
    height: 1600px;
    background-color: $colour-grey;
    text-align: center;
    z-index: 3;
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    animation: fading 0.5s 1.9s backwards;
    opacity: 0;
  }
  
  .loader{
    width: 50px;
    height: 50px;
    display: inline-block;
    vertical-align: middle;
    position: relative;
  }
  
  .loader-quart{
    border-radius: 50px;
    border: 6px solid $colour-primary;
    &::after{
      content: "";
      position: absolute;
      top: -6px;
      left: -6px;
      bottom: -6px;
      right: -6px;
      border: 6px solid transparent;
      border-radius: 50px;
      border-top-color: $colour-secondary;
      animation: spin 1.5s linear infinite;
    }
  }

  @keyframes spin {
      0%{
          transform: rotate(0deg);
      }
      100%{
          transform: rotate(360deg);
      }
  }

  @keyframes fading {
      0%{
          opacity: 1;
      }

      15%{
          opacity: 0.90;
      }

      33%{
          opacity: 0.50;
      }

      66%{
          opacity: 0.25;
      }
      100%{
          opacity: 0;
      }
  }