.cardplats{
    display: flex;
    .fa-check-circle{
        color: $colour-white;
        margin-top: 25px;
        margin-left: 25px;
        font-size: 1.2em;
        animation: checkmarkrotate 0.8s 1700ms;
    }
    .checkmark{
        background-color: $colour-tertiary;
        
        border-top-right-radius: 15px;
        border-bottom-right-radius: 15px;
        transition: transform 330ms ease-in-out, opacity 330ms;
        grid-column: 3;
        grid-row: 1 / span 2;
    }
    &:hover .checkmark{
        transform: translateX(-50px);
    }
}

@keyframes checkmarkrotate{
    0%{
        transform: rotate(0deg);
    }

    100%{
        transform: rotate(360deg);
    }
}


/*grid scaleX(0.75) et passer le deuxieme colonne en pixel (25px)*/

/*pour le slide soit translate et opacity soit scale passer de 0 a 1 avec translate pour le placer sur la card*/