@font-face {
    font-family: "Roboto";
    src: url(/Polices/roboto/Roboto-Regular.ttf);
    font-family: "Shrikhand";
    src: url(/Polices/shrikhand/Shrikhand-Regular.ttf);
}

body
{
    font-family: "Roboto";
}

h4{
    font-family: "Shrikhand";
    font-size: 1.2em;
    font-weight: 200;
    
}

a{
    text-decoration: none;
    color: $colour-black;
}

span{
    color: $colour-white;
}

.resto_prev__heading{
    font-size: 1em;
}

.resto_prev__byline{
    font-size: 0.9em;
}

.fa-heart{
    font-size: 1.2em;
}

.fa-hands-helping{
    font-size: 0.7em;
}

.fa-utensils{
    font-size: 0.8em;
}

input{
    font-size: 1em;
    font-weight: bold;
}

.fonctionnement{
    p{
        font-weight: bold;
    }
    
}

h2{
    font-weight: bold;
}

