@font-face {
    font-family: "Roboto";
    src: url(../Polices/roboto/Roboto-Regular.ttf);
    font-family: "Shrikhand";
    src: url(../Polices/shrikhand/Shrikhand-Regular.ttf);
}

body
{
    font-family: "Roboto";
}

footer{
    h4{
    font-family: "Shrikhand";
    font-size: 1.2em;
    font-weight: 200;
    }
    
}

a{
    text-decoration: none;
    color: $colour-black;
}

span{
    color: $colour-white;
}

.resto_prev__heading{
    font-size: 1em;
}

.resto_prev__byline{
    font-size: 0.9em;
}

.fa-heart{
    font-size: 1.2em;
}

.fa-hands-helping{
    font-size: 0.7em;
}

.fa-utensils{
    font-size: 0.8em;
}

input{
    font-size: 1em;
    font-weight: bold;
}

.fonctionnement{
    p{
        font-weight: bold;
    }
    
}

h2{
    font-weight: bold;
}

.fa-arrow-left{
    font-size: 1.2em;
}

.entete{
    &__heading{
        font-family: "Shrikhand";
        font-weight: 200;
        font-size: 1.8em;
    }
    .fa-heart{
        font-size: 1.5em;
    }
}

.menu{
    &__titre{
        font-weight: 400;
        font-size: 1em;
    }
}

.plats{
    h4{
        font-size: 1em;
        font-weight: 600;
    }
    .complement{
        font-size: 0.9em;
        font-weight: 300;
    }
    .prix{
        font-size: 1em;
        font-weight: 600;
    }
}

button{
    font-size: 1em;
}

.new{
    font-size: 0.8em;
}