@font-face {
    font-family: "Roboto";
    src: url(Polices\roboto\Roboto-Regular.ttf);
    font-family: "Shrikhand";
    src: url(Polices\shrikhand\Shrikhand-Regular.ttf);
}

body
{
    font-family: "Roboto";
}

h4{
    font-family: "Shrikhand";
}

a{
    text-decoration: none;
}