@font-face {
    font-family: "Roboto";
    src: url(Polices\roboto\Roboto-Regular.ttf);
    font-family: "Shrikhand";
    src: url(Polices\shrikhand\Shrikhand-Regular.ttf);
}

body
{
    font-family: "Roboto";
}

h4{
    font-family: "Shrikhand";
}

a{
    text-decoration: none;
    color: $colour-black;
}

.resto_prev__heading{
    font-size: 1em;
}

.resto_prev__byline{
    font-size: 0.9em;
}

.fa-heart{
    font-size: 1.2em;
}