.localisation{
    display: flex;
    justify-content: center;
    background-color: darken($colour-grey,10%);
}

.fa-map-marker-alt{
    padding-top: 15px;
    margin-right: 15px;
}

.column{
    display: flex;
    flex-direction: column;
    &__heading{
        font-weight: bold;
    }
}
.reserver{
    text-align: center;
    align-items: center;
    @include background;
    .button{
        color: $colour-white;
        background-color: $colour-primary;
        padding: 15px;
        border-radius: 30px;
        box-shadow: 2px 3px 5px darken($colour-grey,30%);
    }
    p{
        color: lighten($colour-black,35%);
    }
}

.fonctionnement{
    ul{
        list-style-type: none;
    }
    li{
        display: flex;
        justify-content: flex-start;
        @include background;
        width: 90%;
        border-radius: 20px;
        margin-bottom: 4vw;
        box-shadow: 2px 3px 5px darken($colour-grey,20%);
        padding: 10px 5px 10px 5px;
    }
    .fas{
        padding-top: 15px;
        color: lighten($colour-black,35%);
        margin-left: 30px;
        margin-right: 30px;
    }
}
