.localisation {
  display: flex;
  justify-content: center;
  background-color: darken($colour-grey, 10%);
  height: 50px;
  box-shadow: 0px 6px 8px darken($colour-grey,30%) inset;
  input{
      background-color: darken($colour-grey, 10%);
      border: none;
      width: 30%;
      margin-left: 15px;
      background: none;
      &:focus{
        outline: none;
      }
  }
  .fa-map-marker-alt{
      padding-top: 15px;
  }
}



.column {
  display: flex;
  flex-direction: column;
  padding-top: 3vw;
  padding-bottom: 8vw;
  padding-left: 5vw;
  padding-right: 5vw;
  @include background;
}

.reserver {
  text-align: center;
  align-items: center;
  h2{
      width: 70%;
  }
  .decouvrir {
    color: lighten($colour-black, 35%);
    margin-left: 4vw;
    margin-right: 4vw;
  }
}

.fonctionnement {
  background-color: $colour-white;
  ul {
    list-style-type: none;
    padding-left: 0;
  }
  li {
    display: flex;
    margin-bottom: 5vw;
    margin-left: 3vw;
  }
  div{
    display: flex;
    justify-content: flex-start;
    @include background;
    width: 100%;
    border-radius: 20px;
    @include boxshadow;
    padding: 10px 5px 10px 5px;
  }
  .fas {
    padding-top: 18px;
    color: lighten($colour-black, 35%);
    margin-left: 30px;
    margin-right: 20px;
  }
  span{
      background-color: $colour-primary;
      border-radius: 100%;
      align-self: center;
      padding: 5px 10px 5px 10px;
      position: absolute;
      left: 4vw;
  }
  li>div:hover{
      background-color: lighten($colour-primary, 30%);
      .fas{
          color: darken($colour-primary, 10%);
      }
  }
}

.resto_prev {
  width: auto;
  height: 250px;
  display: flex;
  border-radius: 15px;
  flex-direction: column;
  background-color: $colour-white;
  align-items: center;
  margin-bottom: 5vw;
  @include boxshadow;
  &__image {
    width: 100%;
    height: 180px;
    border-radius: 15px 15px 0 0;
    object-fit: cover;
    object-position: 60% 60%;
  }
  .description{
      display: flex;
      justify-content: space-between;
      width: 100%;
  }
  .texte{
      padding-left: 10px;
  }
  .far{
      align-self: center;
      padding-right: 20px;
      
  }
  &__heading{
      margin-bottom: 5px;
  }
  &__byline{
      margin-top: 5px;
  }
}  
.new{
    background-color: $colour-tertiary;
    color: darken($colour-tertiary, 40);
    position:relative;
    width: 50px;
    top: 40px;
    right: -65vw;
    padding: 5px 10px 5px 10px;
  }


@media screen and (min-width: 768px) and (max-width: 1023px)
/*tablettes*/
{
  .localisation{
    height: 60px;
    input{
      width: 20%;
    }
    .fa-map-marker-alt{
      padding-top: 18px;
    }
  }

  .reserver{
    padding-bottom: 3vw;
    h2{
      margin-bottom: 1vw;
    }
    .decouvrir{
      margin-bottom: 3vw;
      margin-top: 1vw;
    }
  }
  
  .fonctionnement{
    padding-bottom: 0;
    h2{
      margin-bottom: 0;
      margin-top: 0;
    }
    li{
      justify-content: center;
      width: 70%;
      margin-left: 15vw;
      margin-bottom: 3vw;
    }
    span{
      left: 24vw;
    }
    div{
      padding: 5px;
      width: 80%;
    }
    p{
      margin-left: 40px;
    }
  }

  #restaurants{
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    padding-bottom: 0;
    h2{
      width: 100%;
      margin-bottom: 0;
      margin-top: 0;
    }
    a{
      width: 45%;
    }
    .new{
    left: 30vw;
    top: 4.3vw;
    }
  }
}