.preview{
    height: 200px;
    &__image{
        width: 100%;
        height: 250px;
        object-fit: cover;
        object-position: 60% 60%;
    }
}

.carte{
    @include background;
    position: relative;
    padding-top: 3vw;
    padding-left: 15px;
    padding-right: 15px;
    padding-bottom: 3vw;
    border-radius: 40px 40px 0 0;
    display: flex;
    flex-direction: column;
}    

.entete{
    display: flex;
    justify-content: space-between;
    .fa-heart{
        padding-top: 28px;
        padding-right: 20px;
    }
}

.menu{
    &__titre{
        border-bottom: 3px solid $colour-tertiary;
        width: 40px;
    }
}



.plats{
    background-color: $colour-white;
    border-radius: 15px;
    display: grid;
    grid-template-columns: 220px auto;
    grid-template-rows: repeat(2, 25px);
    align-items: center;
    padding: 10px 20px 10px 10px;
    margin-bottom: 4vw;
    @include boxshadow;
    
    h4{
        grid-column: 1 / span 2;
        grid-row: 1;
        margin-bottom: 3px;
        margin-top: 3px;
        width: 100%;
    }
    .complement{
        grid-row: 2;
        grid-column: 1;
        margin-top: 5px;
        margin-bottom: 5px;
    }
    .prix{
        grid-row: 2;
        grid-column: 2;
        text-align: right;
    }
}

button{
    border-style: none;
    align-self: center;
    width: 55%;
    margin-top: 8vw;
    margin-bottom: 10vw;
}