$colour-primary: #9356dc;
$colour-secondary: #ff79da;
$colour-tertiary: #99e2d0;
$colour-white: #fff;
$colour-black: #000000;
$colour-grey: #f6f6f6;
$gradient: linear-gradient(to top left, $colour-primary, $colour-secondary);
$light-primary: lighten($colour-primary,5%);
$light-secondary: lighten($colour-secondary,5%);