footer{
    background-color: $colour-black;
    color: $colour-white;
    ul{
        list-style-type: none;
    }
    li{
        display: flex;
        justify-content: flex-start;
        width: 60%;
    }
    .fas{
        padding-top: 15px;
        width: 15px;
        padding-right: 10px;
    }

}