footer{
    background-color: $colour-black;
    color: $colour-white;
    ul{
        list-style-type: none;
        margin-bottom: 0;
        margin-top: 0;
    }
    li{
        display: flex;
        justify-content: flex-start;
        width: 60%;
    }
    .fas{
        padding-top: 15px;
        width: 15px;
        padding-right: 10px;
    }
    h4{
        margin-top: 0;
        margin-bottom: 0;
        padding-top: 15px;
        padding-bottom: 15px;
    }

    a{
        color: $colour-white;
    }

}