footer{
    background-color: lighten($colour-black,15%);
    color: $colour-white;
    height: 200px;
    ul{
        list-style-type: none;
        margin-bottom: 0;
        margin-top: 0;
        padding-left: 20px;
    }
    li{
        display: flex;
        justify-content: flex-start;
        width: 70%;
        height: 30px;
        align-content: center;
    }
    .fas{
        padding-top: 20px;
        width: 15px;
        padding-right: 10px;
    }
    h4{
        margin-top: 0;
        margin-bottom: 0;
        padding-top: 20px;
        padding-left: 20px;
    }

    a{
        color: $colour-white;
    }

}